body{background-color: rgb(39, 43, 82);
    color: black;
font-family: Verdana, Geneva, Tahoma, sans-serif;}
.BP a:link{color:rgb(54, 10, 54);}
.BP  a:visited{color: blue;}
.BP  a:hover{color: brown;}

.BA a:link{color: rgb(199, 219, 16);}
.BA a:visited{color: blue;}
.BA a:hover{color: brown;}

.BH a:link{color: rgb(209, 29, 29);}
.BH a:visited{color: blue;}
.BH a:hover{color: brown;}

.WK a:link{color: rgb(218, 129, 14);}
.WK a:visited{color: blue;}
.WK a:hover{color: brown;}
